.footer-widget-1 {
  a {
    color:  var(--#{$prefix}dark);
    &:hover {
      color: var(--#{$prefix}primary);
    }
  }
  li {
    i {
      font-size: 12px;
    }
  }
}

.footer-widget-4 {
  .social-icons {
    a {
      color: var(--#{$prefix}white);
      padding: 7px 14px;
      border-radius: 4px;
      background-color: var(--#{$prefix}dark);

      &:hover {
        background-color: var(--#{$prefix}primary);
      }
    }
  }
}