.nav {
  --#{$prefix}nav-link-padding-x: 10px
}

.nav-link {
  --#{$prefix}nav-link-color: var(--#{$prefix}dark);

  &:hover {
    --#{$prefix}nav-link-hover-color: var(--#{$prefix}primary);
  }
}

.fixed-top {
  position: fixed;
  background-color: var(--#{$prefix}white, white);
  z-index: 999;
  width: 100%;
  top: 0;
}

.topbar {
  a, p {
    font-size: 14px;
  }
}

.moto {
  font-size: 12px;
}

.hero-section-about,
.banner {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/hero-bg.png');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100%; 
  height: 500px;
}

.banner {
  height: 250px;
}

.social-icon {
  height: 35px;
  width: 35px;
  color: var(--#{$prefix}white);
  background-color: var(--#{$prefix}dark);

  &:hover {
    color: var(--#{$prefix}primary);
    background-color: var(--#{$prefix}white);
  }
}